---
clouds:
  default:
    identity_api_version: {{ hotstack_cloud_secrets.identity_api_version }}
    region_name: {{ hotstack_cloud_secrets.region_name }}
{% if hotstack_cloud_secrets.ca_cert_path is defined %}
    cacert: {{ hotstack_cloud_secrets.ca_cert_path }}
{% elif hotstack_cloud_secrets.cacert is defined %}
    cacert: |
{{ hotstack_cloud_secrets.cacert | indent(6, first=True) }}
{% endif %}
    auth_type: v3applicationcredential
    auth:
      auth_url: {{ hotstack_cloud_secrets.auth_url }}
      application_credential_id: {{ hotstack_cloud_secrets.application_credential_id }}
      application_credential_secret: {{ hotstack_cloud_secrets.application_credential_secret }}
