**/__pycache__/
.ansible/*
.venv/*
cloud-secret.yaml
cloud-secret.*.yaml.bak
dataplane_ssh_keys_vars.yaml
*-outputs.yaml
hotstack_overrides.yaml
images/*.qcow2
images/.*-build/
images/*.d/
*.gz.b64
*.tar.gz
