interfaces:
{% for bridge in bridges %}
  - name: {{ bridge.name }}
    type: linux-bridge
    state: up
    ipv4:
      enabled: false
    ipv6:
      enabled: false
    bridge:
      port:
        - name: {{ bridge.port }}
  - name: {{ bridge.port }}
    type: ethernet
    state: up
    ipv4:
      enabled: false
    ipv6:
      enabled: false
{% endfor %}
