---
# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

hotlog_dir: "{{ playbook_dir }}/logs"

base_dir: /home/zuul

# List of namespaces to collect tempest logs from
hotlog_tempest_namespaces:
  - openstack

hotlog_collect_paths:
  - src: "{{ base_dir }}/ocp-cluster/.openshift_install.log"
    dest_dir: ocp_cluster
  - src: "{{ base_dir }}/cluster-custom-config/"
    dest_dir: ocp_cluster
  - src: "{{ base_dir }}/data/"
    dest_dir: data
  - src: "{{ base_dir }}/manifests/"
    dest_dir: manifests
  - src: "{{ base_dir }}/must-gather.tar.gz"
    dest_dir: .
  - src: "{{ base_dir }}/logs/tempest"
    dest_dir: .

hotlogs_must_gather_enabled: true
hotlogs_must_gather_additional_namespaces: sushy-emulator
hotlogs_must_gather_image_stream: "openshift/must-gather"
hotlogs_must_gather_image: "quay.io/openstack-k8s-operators/openstack-must-gather"
hotlogs_must_gather_decompress: 0
hotlogs_must_gather_sos_edpm: all
hotlogs_must_gather_timeout: 10m
hotlogs_must_gather_openstack_databases: "ALL"
