---
stages:
  - name: "Sushy Emulator : Namespace"
    manifest: namespace.yaml
    wait_conditions:
      - "oc wait namespaces sushy-emulator --for jsonpath='{.status.phase}'=Active --timeout=300s"

  - name: "Sushy Emulator : Openstack clouds secret"
    shell: >-
      oc create -n sushy-emulator secret generic os-client-config
      --save-config --dry-run=client
      --from-file=openstack-clouds-yaml={{ cloud_config_dir }}/clouds.yaml
      --from-file=certificate-pem={{ cloud_config_dir }}/cacert.pem
      --type=Opaque -o yaml | oc apply -f -

  - name: "Sushy Emulator : Config Map"
    manifest: config_map.yaml
    wait_conditions:
      - "oc wait -n sushy-emulator configmaps sushy-emulator-config --for jsonpath='{.metadata.name}'=sushy-emulator-config --timeout=30s"

  - name: "Sushy Emulator : Deployment"
    manifest: deployment.yaml
    wait_conditions:
      - "oc wait -n sushy-emulator pod -l app=sushy-emulator --for condition=Ready --timeout=300s"

  - name: "Nova Console Poller : Deployment"
    manifest: console_poller_deployment.yaml
    wait_conditions:
      - "oc wait -n sushy-emulator pod -l app=nova-console-poller --for condition=Ready --timeout=300s"

  - name: "Sushy Emulator : Service"
    manifest: service.yaml
    wait_conditions:
      - "oc wait -n sushy-emulator service/sushy-emulator-service --for jsonpath='{.status.loadBalancer}' --timeout=30s"

  - name: "Sushy Emulator : Service :: Wait for Endpoints"
    wait_conditions:
      - "oc wait -n sushy-emulator endpoints/sushy-emulator-service --for jsonpath='{.subsets[*].addresses[*].ip}' --timeout=120s"

  - name: "Sushy Emulator : Route"
    manifest: route.yaml
    wait_conditions:
      - "oc wait -n sushy-emulator routes/sushy-emulator-route --for jsonpath='{.status.ingress[*].conditions[*].status}'=True --timeout=60s"
