---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sushy-emulator-config
  namespace: sushy-emulator
data:
  htpasswd: |
    {{ _htpasswd.stdout }}
  config: |
    # Listen on all local IP interfaces
    SUSHY_EMULATOR_LISTEN_IP = '::'

    # Bind to TCP port 8000
    SUSHY_EMULATOR_LISTEN_PORT = 8000

    # Serve this SSL certificate to the clients
    SUSHY_EMULATOR_SSL_CERT = None

    # If SSL certificate is being served, this is its RSA private key
    SUSHY_EMULATOR_SSL_KEY = None

    # If authentication is desired, set this to an htpasswd file.
    SUSHY_EMULATOR_AUTH_FILE = '/etc/sushy-emulator/.htpasswd'

    # The OpenStack cloud ID to use. This option enables OpenStack driver.
    SUSHY_EMULATOR_OS_CLOUD = '{{ sushy_emulator_os_cloud }}'

    # If image should created via file upload instead of web-download based image
    # import OpenStack cloud virtual media
    SUSHY_EMULATOR_OS_VMEDIA_IMAGE_FILE_UPLOAD = True

    # When set to true, the instance rebuild on virtual media eject
    # is delayed until the next a RedFish power action.
    SUSHY_EMULATOR_OS_VMEDIA_DELAY_EJECT = True

    # Instruct the libvirt driver to ignore any instructions to
    # set the boot device. Allowing the UEFI firmware to instead
    # rely on the EFI Boot Manager
    # Note: This sets the legacy boot element to dev="fd"
    # and relies on the floppy not existing, it likely won't work
    # your VM has a floppy drive.
    SUSHY_EMULATOR_IGNORE_BOOT_DEVICE = False

    # This list contains the identities of instances that the driver will filter by.
    # It is useful in a tenant environment where only some instances represent
    # virtual baremetal.
    SUSHY_EMULATOR_ALLOWED_INSTANCES = {{ instances_uuids }}

{% if sushy_emulator_os_vmedia_use_rescue | bool or
      (stack_outputs.sushy_tools_vmedia_type | default('volumeRebuild') == 'rescue') %}

    # Enable virtual media (CD/DVD) boot via Nova rescue mode. This provides an
    # alternative to volume-based virtual media for environments where:
    # - OpenStack cloud lacks Nova API microversion 2.93 (Zed+)
    # - OVMF firmware has issues with volume-backed CD-ROM attachment
    # - Image-backed instances are preferred or required
    # Note: Mutually exclusive with volume-based virtual media implementation
    SUSHY_EMULATOR_OS_VMEDIA_USE_RESCUE = True

    # Specify rescue device bus type (default: 'sata'). Use 'scsi' if instances
    # enter RESCUE state but don't boot from CD-ROM, as different OVMF UEFI
    # firmware implementations may require specific bus types for bootable ISOs
    SUSHY_EMULATOR_OS_VMEDIA_RESCUE_BUS = '{{ sushy_emulator_os_vmedia_rescue_bus }}'

    # Specify rescue device type for virtual media (default: 'cdrom')
    SUSHY_EMULATOR_OS_VMEDIA_RESCUE_DEVICE = '{{ sushy_emulator_os_vmedia_rescue_device }}'
{% endif %}

{% if sushy_emulator_os_rescue_pxe_boot | bool or
      (stack_outputs.ironic_boot_interface | default('redfish-virtual-media')
       in ['pxe', 'ipxe', 'mixed']) %}

    # Enable rescue-based network boot via Nova rescue mode.
    # When enabled, setting boot device to 'Pxe' triggers Nova rescue with an
    # iPXE image; setting it to 'Hdd' exits rescue mode.
    SUSHY_EMULATOR_OS_RESCUE_PXE_BOOT = True
    SUSHY_EMULATOR_OS_RESCUE_PXE_IMAGE_BIOS = '{{ sushy_emulator_os_rescue_pxe_image_bios }}'
    SUSHY_EMULATOR_OS_RESCUE_PXE_IMAGE_UEFI = '{{ sushy_emulator_os_rescue_pxe_image_uefi }}'
{% endif %}
