---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sushy-emulator-state-pvc
  namespace: sushy-emulator
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: {{ sushy_emulator_state_storage_size }}
