---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sushy-emulator-state-pv
spec:
  capacity:
    storage: {{ sushy_emulator_state_storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ sushy_emulator_state_nfs_server }}
    path: {{ sushy_emulator_state_nfs_path }}
