---
- name: Common OLM Dependencies
  documentation: |
    Install the OpenStack K8S dependencies. (Namespaces, OperatorGroup, and Subscription CRs.)

    Once these CRs are created, run the `oc wait` commands to confirm that
    each step of this procedure is complete.
  manifest: "{{ role_path }}/files/common/manifests/deps/olm-deps.yaml"

- name: Wait for all the OLM dependencies
  wait_conditions:
    - "oc wait namespaces openshift-storage --for jsonpath='{.status.phase}'=Active --timeout=180s"
    - >-
      oc wait -n openshift-storage operatorgroups.operators.coreos.com openshift-storage-operatorgroup
      --for jsonpath='{.status.namespaces}' --timeout=30s
    - >-
      oc wait -n openshift-storage ClusterServiceVersion
      -l operators.coreos.com/lvms-operator.openshift-storage
      --for jsonpath='{.status.phase}'=Succeeded --timeout=300s
    - "oc wait namespaces cert-manager-operator --for jsonpath='{.status.phase}'=Active --timeout=30s"
    - "oc wait namespaces metallb-system --for jsonpath='{.status.phase}'=Active --timeout=30s"
    - "oc wait namespaces openshift-nmstate --for jsonpath='{.status.phase}'=Active --timeout=30s"
    - "oc wait -n metallb-system pod -l control-plane=controller-manager --for condition=Ready --timeout=180s"
    - "oc wait -n metallb-system pod -l component=webhook-server --for condition=Ready --timeout=180s"
    - "oc wait -n cert-manager-operator pod --for condition=Ready -l name=cert-manager-operator --timeout=180s"
    - "oc wait -n cert-manager pod -l app=cainjector --for condition=Ready --timeout=180s"
    - "oc wait -n cert-manager pod -l app=webhook --for condition=Ready --timeout=180s"
    - "oc wait -n cert-manager pod -l app=cert-manager --for condition=Ready --timeout=180s"

- name: Common MetalLB
  manifest: "{{ role_path }}/files/common/manifests/deps/metallb.yaml"

- name: Common NMState
  manifest: "{{ role_path }}/files/common/manifests/deps/nmstate.yaml"

- name: Wait for MetalLB and NMState
  wait_conditions:
    - "oc wait -n metallb-system pod -l component=speaker --for condition=Ready --timeout=180s"
    - "oc wait -n openshift-nmstate pod -l component=kubernetes-nmstate-handler --for condition=Ready --timeout=180s"
    - "oc wait -n openshift-nmstate deployments/nmstate-webhook --for condition=Available --timeout=180s"
