---
- name: Metal platform Provisioning CR
  documentation: |
    Create a Provisioning custom resource (CR) to enable OCP Metal platform components
  manifest: "{{ role_path }}/files/common/manifests/deps/metal3-provisioning.yaml"
  wait_conditions:
    - "oc wait pods -n openshift-machine-api -l k8s-app=metal3 --for condition=Ready --timeout=600s"
