- name: Approve openstack-operator update Install plan
  script: |
    {{
      lookup('ansible.builtin.file',
             'common/scripts/approve_update_install_plan.sh')
      | indent(width=4)
    }}
  wait_conditions:
    - >-
      oc wait -n openstack-operators csv -l operators.coreos.com/openstack-operator.openstack-operators=
      --for jsonpath='{.status.phase}=Succeeded' --timeout=300s
