- name: Approve openstack-operator update Install plan
  documentation: |
    Approve the OpenStack operator update install plan.
  command: hotstack-approve-install-plan --update
  wait_conditions:
    - >-
      oc -n openstack-operators wait csv -l operators.coreos.com/openstack-operator.openstack-operators
      --for jsonpath='{.status.phase}'=Succeeded --timeout=60s

- name: Apply Openstack init resource if starting ClusterServiceVersion >= v1.0.0 and < v1.0.7
  documentation: |
    Apply OpenStack initialization resource for specific operator versions.
  manifest: "{{ role_path }}/files/common/manifests/openstack.yaml"
  wait_conditions:
    - "oc wait -n openstack-operators openstack openstack --for condition=Ready --timeout=180s"
    - "oc wait -n openstack-operators -l openstack.org/operator-name deployment --for condition=Available --timeout=180s"
    - "oc wait -n openstack-operators -l app.kubernetes.io/name=rabbitmq-cluster-operator deployment --for condition=Available --timeout=180s"
  run_conditions:
    - >-
      {{
        openstack_operator_starting_csv is defined and
        openstack_operator_starting_csv is not none and
        openstack_operator_starting_csv is version('v1.0.0', '>=') and
        openstack_operator_starting_csv is version('v1.0.7', '<')
      }}
