---
- name: TopoLVM common
  documentation: |
    Install the TopoLVM Container Storage Interface (CSI) driver on the OCP
    cluster.

    It uses LVMS (Logical Volume Manager Storage) to dynamically provision
    local storage built from block devices on OCP nodes.

    After you have installed LVM Storage, you must create an LVMCluster custom resource (CR).
  manifest: "{{ role_path }}/files/common/manifests/deps/olm-topolvm.yaml"
  wait_conditions:
    - oc wait namespaces openshift-storage --for jsonpath='{.status.phase}'=Active --timeout=180s
    - >-
      oc wait -n openshift-storage operatorgroups.operators.coreos.com openshift-storage-operatorgroup
      --for jsonpath='{.status.namespaces}' --timeout=30s
    - >-
      oc wait -n openshift-storage ClusterServiceVersion
      -l operators.coreos.com/lvms-operator.openshift-storage
      --for jsonpath='{.status.phase}'=Succeeded --timeout=300s
