---
- name: TopoLVM LVMCluster
  documentation: |
    Create a TopoLVM - LVMCluster on the Openshift cluster.

    Configure the LVMCluster custom resource (CR) to perform the following
    actions:

    * Create LVM volume groups that you can use to provision persistent
      volume claims (PVCs).
    * Configure a list of devices that you want to add to the LVM volume
      groups.
  manifest: "{{ role_path }}/files/common/manifests/topolvm/topolvmcluster.yaml"
  wait_conditions:
    - "oc wait -n openshift-storage lvmcluster.lvm.topolvm.io/lvmcluster --for jsonpath='{.status.state}=Ready' --timeout=180s"
