# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

[Unit]
Description=HotStack-OS MariaDB Service
Documentation=https://github.com/openstack-k8s-operators/hotstack
After=hotstack-os-infra-setup.service
Requires=hotstack-os-infra-setup.service
PartOf=hotstack-os.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
SuccessExitStatus=143

ExecStartPre=-/usr/bin/podman stop -t 2 hotstack-os-mariadb
ExecStartPre=-/usr/bin/podman rm -f hotstack-os-mariadb
ExecStart=/usr/bin/podman run \
    --name hotstack-os-mariadb \
    --network hotstack-os \
    --network-alias mariadb \
    --ip __MARIADB_IP__ \
    --env MYSQL_ROOT_PASSWORD=__MYSQL_ROOT_PASSWORD__ \
    --env MYSQL_PASSWORD=__DB_PASSWORD__ \
    --volume __HOTSTACK_DATA_DIR__/mysql:/var/lib/mysql:z \
    --volume __HOTSTACK_DATA_DIR__/runtime/scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:ro,z \
    docker.io/library/mariadb:11.4 \
    --innodb-buffer-pool-size=32M --max-connections=250

# Health check: CONTAINER INTERVAL TIMEOUT RETRIES START_PERIOD COMMAND
ExecStartPost=-/usr/local/bin/hotstack-healthcheck.sh hotstack-os-mariadb 10 5 5 0 healthcheck.sh --connect --innodb_initialized
ExecStop=/usr/bin/podman stop -t 30 hotstack-os-mariadb
ExecStopPost=-/usr/bin/podman rm -f hotstack-os-mariadb

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hotstack-os.target
