# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

[Unit]
Description=HotStack-OS Neutron Server Service
Documentation=https://github.com/openstack-k8s-operators/hotstack
After=hotstack-os-mariadb.service hotstack-os-rabbitmq.service hotstack-os-keystone.service hotstack-os-ovn-northd.service hotstack-os-dnsmasq.service hotstack-os-haproxy.service
Wants=hotstack-os-mariadb.service hotstack-os-rabbitmq.service hotstack-os-keystone.service hotstack-os-ovn-northd.service hotstack-os-dnsmasq.service
PartOf=hotstack-os.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStartSec=300
TimeoutStopSec=30
SuccessExitStatus=143

ExecStartPre=-/usr/bin/podman stop -t 2 hotstack-os-neutron-server
ExecStartPre=-/usr/bin/podman rm -f hotstack-os-neutron-server
ExecStart=/usr/bin/podman run \
    --pull=never \
    --name hotstack-os-neutron-server \
    --hostname neutron \
    --network hotstack-os \
    --ip __NEUTRON_SERVER_IP__ \
    --env NEUTRON_DB_PASSWORD=__DB_PASSWORD__ \
    --env SERVICE_PASSWORD=__SERVICE_PASSWORD__ \
    --env KEYSTONE_ADMIN_PASSWORD=__KEYSTONE_ADMIN_PASSWORD__ \
    --env RABBITMQ_USER=__RABBITMQ_DEFAULT_USER__ \
    --env RABBITMQ_PASS=__RABBITMQ_DEFAULT_PASS__ \
    --env REGION_NAME=__REGION_NAME__ \
    --volume __HOTSTACK_DATA_DIR__/runtime/config/neutron/neutron.conf:/etc/neutron/neutron.conf:ro,z \
    --volume __HOTSTACK_DATA_DIR__/runtime/config/neutron/plugins/ml2/ml2_conf.ini:/etc/neutron/plugins/ml2/ml2_conf.ini:ro,z \
    --entrypoint /usr/local/bin/neutron-server-entrypoint.sh \
    localhost/hotstack-os-neutron:latest

# Health check: CONTAINER INTERVAL TIMEOUT RETRIES START_PERIOD COMMAND
ExecStartPost=-/usr/local/bin/hotstack-healthcheck.sh hotstack-os-neutron-server 10 5 5 5 curl -f http://localhost:9696/
ExecStop=/usr/bin/podman stop -t 30 hotstack-os-neutron-server
ExecStopPost=-/usr/bin/podman rm -f hotstack-os-neutron-server

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hotstack-os.target
