# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

[Unit]
Description=HotStack-OS Glance Image Service
Documentation=https://github.com/openstack-k8s-operators/hotstack
After=hotstack-os-mariadb.service hotstack-os-keystone.service hotstack-os-dnsmasq.service hotstack-os-haproxy.service
Wants=hotstack-os-mariadb.service hotstack-os-keystone.service hotstack-os-dnsmasq.service
PartOf=hotstack-os.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStartSec=300
TimeoutStopSec=30
SuccessExitStatus=143

ExecStartPre=-/usr/bin/podman stop -t 2 hotstack-os-glance
ExecStartPre=-/usr/bin/podman rm -f hotstack-os-glance
ExecStart=/usr/bin/podman run \
    --pull=never \
    --name hotstack-os-glance \
    --hostname glance \
    --network hotstack-os \
    --ip __GLANCE_IP__ \
    --env GLANCE_DB_PASSWORD=__DB_PASSWORD__ \
    --env SERVICE_PASSWORD=__SERVICE_PASSWORD__ \
    --env KEYSTONE_ADMIN_PASSWORD=__KEYSTONE_ADMIN_PASSWORD__ \
    --env REGION_NAME=__REGION_NAME__ \
    --volume __HOTSTACK_DATA_DIR__/runtime/config/glance/glance-api.conf:/etc/glance/glance-api.conf:ro,z \
    --volume __HOTSTACK_DATA_DIR__/glance/images:/var/lib/glance/images:U,z \
    localhost/hotstack-os-glance:latest

# Health check: CONTAINER INTERVAL TIMEOUT RETRIES START_PERIOD COMMAND
ExecStartPost=-/usr/local/bin/hotstack-healthcheck.sh hotstack-os-glance 10 5 5 5 curl -f http://localhost:9292/
ExecStop=/usr/bin/podman stop -t 30 hotstack-os-glance
ExecStopPost=-/usr/bin/podman rm -f hotstack-os-glance

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hotstack-os.target
