# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

[Unit]
Description=HotStack-OS Nova NoVNC Proxy Service
Documentation=https://github.com/openstack-k8s-operators/hotstack
After=hotstack-os-nova-api.service hotstack-os-infra-setup.service
Wants=hotstack-os-nova-api.service
Requires=hotstack-os-infra-setup.service
PartOf=hotstack-os.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStartSec=90
TimeoutStopSec=30
SuccessExitStatus=143

ExecStartPre=-/usr/bin/podman stop -t 2 hotstack-os-nova-novncproxy
ExecStartPre=-/usr/bin/podman rm -f hotstack-os-nova-novncproxy
ExecStart=/usr/bin/podman run \
    --pull=never \
    --name hotstack-os-nova-novncproxy \
    --hostname nova-novncproxy \
    --network hotstack-os \
    --ip __NOVA_NOVNCPROXY_IP__ \
    --env NOVA_DB_PASSWORD=__DB_PASSWORD__ \
    --env SERVICE_PASSWORD=__SERVICE_PASSWORD__ \
    --env RABBITMQ_USER=__RABBITMQ_DEFAULT_USER__ \
    --env RABBITMQ_PASS=__RABBITMQ_DEFAULT_PASS__ \
    --env REGION_NAME=__REGION_NAME__ \
    --volume __HOTSTACK_DATA_DIR__/runtime/config/nova/nova.conf:/etc/nova/nova.conf:ro,z \
    --entrypoint /usr/local/bin/nova-novncproxy-entrypoint.sh \
    localhost/hotstack-os-nova:latest

# Health check: CONTAINER INTERVAL TIMEOUT RETRIES START_PERIOD COMMAND
ExecStartPost=-/usr/local/bin/hotstack-healthcheck.sh hotstack-os-nova-novncproxy 10 5 5 20 sh -c "test -f /proc/1/exe && ss -tln | grep -q :6080"
ExecStop=/usr/bin/podman stop -t 30 hotstack-os-nova-novncproxy
ExecStopPost=-/usr/bin/podman rm -f hotstack-os-nova-novncproxy

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hotstack-os.target
