---
# Copyright Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Install NFS server packages
  become: true
  ansible.builtin.dnf:
    name:
      - nfs-utils
    state: present

- name: Create NFS export directories
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0755') }}"
    owner: "{{ item.owner | default('nobody') }}"
    group: "{{ item.group | default('nobody') }}"
  loop: "{{ nfs_exports }}"

- name: Configure NFS exports
  become: true
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports.d/hotstack.exports
    mode: '0644'

- name: Enable and start NFS server
  become: true
  ansible.builtin.systemd:
    name: nfs-server
    state: started
    enabled: true

- name: Reload NFS exports
  become: true
  ansible.builtin.command:
    cmd: exportfs -ra
  changed_when: false
