<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='GiB'>8</memory>
  <vcpu>2</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
    <bootmenu enable='yes'/>
    <loader readonly='yes' type='pflash'>/usr/share/edk2/ovmf/OVMF_CODE.fd</loader>
    <nvram>/var/lib/libvirt/qemu/nvram/{{ vm_name }}_VARS.fd</nvram>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough'/>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>

    <!-- NXOS Disk (SATA) -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ nxos_disk }}'/>
      <target dev='sda' bus='sata'/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>

    <!-- SATA Controller -->
    <controller type='sata' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1f' function='0x2'/>
    </controller>

    <!-- Video (disabled - Cisco NXOS requirement) -->
    <video>
      <model type='none'/>
    </video>

    <!-- Serial Console -->
    <serial type='tcp'>
      <source mode='bind' host='127.0.0.1' service='{{ console_port }}'/>
      <protocol type='telnet'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='tcp'>
      <source mode='bind' host='127.0.0.1' service='{{ console_port }}'/>
      <protocol type='telnet'/>
      <target type='serial' port='0'/>
    </console>

    <!-- Network Interfaces (e1000 - required for NXOS) -->
    {% for i in range(num_bridges) %}
    <interface type='bridge'>
      <source bridge='sw-br{{ i }}'/>
      <model type='e1000'/>
    </interface>
    {% endfor %}
  </devices>
</domain>
