---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  annotations:
    inspect.metal3.io: "disabled"
  labels:
    app: openstack
    nodeName: bmh0
  name: bmh0
  namespace: openstack
spec:
  architecture: x86_64
  automatedCleaningMode: metadata
  bmc:
    address: redfish-virtualmedia+{{ [stack_outputs.ironic_nodes.nodes[0].driver_info.redfish_address,
                                      stack_outputs.ironic_nodes.nodes[0].driver_info.redfish_system_id] | join }}
    credentialsName: bmc-secret
  bootMACAddress: {{ stack_outputs.ironic_nodes.nodes[0].ports[0].address }}
  bootMode: UEFI
  online: false
  rootDeviceHints:
    deviceName: /dev/vda
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  annotations:
    inspect.metal3.io: "disabled"
  labels:
    app: openstack
    nodeName: bmh1
  name: bmh1
  namespace: openstack
spec:
  architecture: x86_64
  automatedCleaningMode: metadata
  bmc:
    address: redfish-virtualmedia+{{ [stack_outputs.ironic_nodes.nodes[1].driver_info.redfish_address,
                                      stack_outputs.ironic_nodes.nodes[1].driver_info.redfish_system_id] | join }}
    credentialsName: bmc-secret
  bootMACAddress: {{ stack_outputs.ironic_nodes.nodes[1].ports[0].address }}
  preprovisioningNetworkDataName: bmh1-preprovision-network-data
  bootMode: UEFI
  online: false
  rootDeviceHints:
    deviceName: /dev/vda
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  annotations:
    inspect.metal3.io: "disabled"
  labels:
    app: openstack
    nodeName: bmh2
  name: bmh2
  namespace: openstack
spec:
  architecture: x86_64
  automatedCleaningMode: metadata
  bmc:
    address: redfish-virtualmedia+{{ [stack_outputs.ironic_nodes.nodes[2].driver_info.redfish_address,
                                      stack_outputs.ironic_nodes.nodes[2].driver_info.redfish_system_id] | join }}
    credentialsName: bmc-secret
  bootMACAddress: {{ stack_outputs.ironic_nodes.nodes[2].ports[0].address }}
  bootMode: UEFI
  online: false
  rootDeviceHints:
    deviceName: /dev/vda
