---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nova-console-recordings-pvc
  namespace: sushy-emulator
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: {{ nova_console_recorder_storage_size }}
