---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nova-console-recordings-pv
spec:
  capacity:
    storage: {{ nova_console_recorder_storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ nova_console_recorder_nfs_server }}
    path: {{ nova_console_recorder_nfs_path }}
